<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Running Platform">
	<locations>
		<location path="${eclipse_home}" type="Profile"/>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="jakarta" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>jakarta.annotation</groupId>
					<artifactId>jakarta.annotation-api</artifactId>
					<version>2.1.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>jakarta.inject</groupId>
					<artifactId>jakarta.inject-api</artifactId>
					<version>2.0.1.MR</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
	<environment>
		<arch>x86_64</arch>
		<os>win32</os>
		<ws>win32</ws>
		<nl>de_DE</nl>
	</environment>
	<launcherArgs>
		<vmArgs>-XX:CompileCommand=quiet -XX:CompileCommand=exclude org.eclipse.jdt.internal.core.dom.rewrite.ASTRewriteAnalyzer::getExtendedRange -Dorg.eclipse.ecf.provider.filetransfer.excludeContributors=org.eclipse.ecf.provider.filetransfer.httpclientjava -Dosgi.requiredJavaVersion=21 -Dosgi.instance.area.default=@user.home/eclipse-workspace -Dosgi.dataAreaRequiresExplicitInit=true -Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Declipse.e4.inject.javax.warning=false -Dsun.java.command=Eclipse -Declipse.platform.mergeTrust=true -XX:+UseG1GC -XX:+UseStringDeduplication --add-modules=ALL-SYSTEM -Declipse.p2.max.threads=10 -Doomph.update.url=https://download.eclipse.org/oomph/updates/milestone/latest -Doomph.redirection.index.redirection=index:/-&gt;https://raw.githubusercontent.com/eclipse-oomph/oomph/master/setups/ --add-opens=java.base/java.lang=ALL-UNNAMED -Djava.security.manager=allow</vmArgs>
	</launcherArgs>
</target>