h1 {
  margin: 1.4em 0;
  font-size: 2em;
}

h2 {
  margin: 1.2em 0;
  font-size: 1.4em;
  font-weight: bolder;
}

h3 {
  margin: 1.1em 0;
  font-size: 1.2em;
  font-weight: bolder;
}

h4 {
  margin: 1em 0;
  font-size: 1.1em;
}

ol {
  margin-block-start: 0.2em;
  box-sizing: border-box;
  list-style: decimal;
  list-style-type: decimal;
  list-style-position: outside;
}

p {
  margin-bottom: 0.9em;
}

ul {
  margin-block-start: 0.2em;
  box-sizing: border-box;
  list-style: decimal;
  list-style-type: disc;
  list-style-position: outside;
}

li {
  margin-left: 3em;
  display: list-item;
  padding-bottom: .2em;
}

table {
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  margin-top: 1em;
  margin-bottom: 1em;
}

thead {
  font-weight: bold;
}

tr,
td {
  padding: 0.4em;
}

table th {
  padding: 0.4em;
  color: #7cb342;
  font-weight: bolder;
}

tbody tr:nth-child(odd) {
  background: #fafafa;
}
